body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #000, #001f3f);
}

#UkSepatu {
    background-color: #001f3f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    text-align: center;
    color: white;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #0074cc;
    color: white;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
